*{
   padding:0px;
   margin:0px;
   font-family: Arial, Helvetica, sans-serif;
}

body{
    background: lightcyan
}

#container{
    width: 80%;
    margin: 0px auto;
    box-shadow: 0px 0px 10px gray;
    /* border: 1px solid red; */
}